<header class="header-section {% if page.cover-img %}has-img{% endif %}">
<div class="intro-header{% if page.cover-img %} big-img{% endif %}{% if page.url == '/' %} home-hero{% endif %}{% if page.cover-img and page.url != '/' and page.url != '/venue/' %} decorative-hero{% endif %}"{% if page.cover-img %} style="background-image: url('{{ page.cover-img | relative_url }}');"{% endif %}>
  {% if page.cover-img or page.title %}
  <div class="container-md">
    <div class="row">
      <div class="col-12 col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="page-heading">
          <h1>{% if page.title %}{{ page.title | strip_html }}{% else %}<br/>{% endif %}</h1>
          {% if page.subtitle %}
            <hr class="small">
            <span class="page-subheading">{{ page.subtitle | strip_html }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>

</header>
