<nav class="navbar navbar-expand-xl fixed-top navbar-custom" aria-label="Primary navigation">
  <div class="container-xl">

    <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav ms-auto mb-2 mb-xl-0">
        {%- for link in site.navbar-links -%}
          {%- if link[1].first %}
            {%- assign dropdown_id = "navbarDropdown" | append: forloop.index -%}
            {%- assign child_active = false -%}
            {%- for childlink in link[1] -%}
              {%- for linkparts in childlink -%}
                {%- if page.url == linkparts[1] -%}
                  {%- assign child_active = true -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endfor -%}
            <li class="nav-item dropdown{% if child_active %} active{% endif %}">
              <a class="nav-link dropdown-toggle{% if child_active %} active{% endif %}" href="#" id="{{ dropdown_id }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ link[0] }}</a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="{{ dropdown_id }}">
                {%- for childlink in link[1] -%}
                  {%- for linkparts in childlink %}
                    <li><a class="dropdown-item{% if page.url == linkparts[1] %} active{% endif %}" href="{{ linkparts[1] | relative_url }}"{% if page.url == linkparts[1] %} aria-current="page"{% endif %}>{{ linkparts[0] }}</a></li>
                  {%- endfor -%}
                {%- endfor -%}
              </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link{% if page.url == link[1] %} active{% endif %}" href="{{ link[1] | relative_url }}"{% if page.url == link[1] %} aria-current="page"{% endif %}>{{ link[0] }}</a>
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>

  </div>
</nav>
