{% assign socials = site.social-network-links %}
{% if socials %}
<ul class="list-inline text-center footer-links">
  {% if socials.facebook %}
    <li class="list-inline-item">
      <a href="https://www.facebook.com/{{ socials.facebook }}" title="Facebook" aria-label="Facebook">
        <span class="fa-stack fa-lg" aria-hidden="true">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
        <span class="visually-hidden">Facebook</span>
      </a>
    </li>
  {% endif %}

  {% if socials.twitter %}
    <li class="list-inline-item">
      <a href="https://twitter.com/{{ socials.twitter }}" title="X" aria-label="X">
        <span class="fa-stack fa-lg" aria-hidden="true">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-x-twitter fa-stack-1x fa-inverse"></i>
        </span>
        <span class="visually-hidden">X</span>
      </a>
    </li>
  {% endif %}

  {% if socials.bluesky %}
    <li class="list-inline-item">
      <a href="https://bsky.app/profile/{{ socials.bluesky }}" title="Bluesky" aria-label="Bluesky">
        <span class="fa-stack fa-lg" aria-hidden="true">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-bluesky fa-stack-1x fa-inverse"></i>
        </span>
        <span class="visually-hidden">Bluesky</span>
      </a>
    </li>
  {% endif %}
</ul>
{% endif %}
